.MuiTimelineItem-root {
  height: 9rem;
  padding-top: 0.8rem;
  &::before {
    padding-right: 0 8px;
  }
}

.MuiTimelineConnector-root {
  background-image: linear-gradient(black 33%, rgba(255, 255, 255, 0) 0%);
  background-position: right;
  background-size: 1px 8px;
  background-repeat: repeat-y;
  width: 1px;
}
